{% extends 'base.html.twig' %}

{% block body %}
    <h1>Course Details</h1>

    <p>Name: {{ event.nom }}</p>
    <p>Circuit: {{ event.circuit }}</p>
    <p>Date and Time: {{ event.dateheure|date('Y-m-d H:i:s') }}</p>
    <p>Participants: {{ event.participants }}</p>
{% endblock %}